#
# Standard magnitude and Radar Cross-Section for artificial satellites
#
# Standard magnitudes and Radar Cross-Section data was obtained from Mike McCants web page https://mmccants.org
#
# One rule per line. Each rule contains seven elements with white space (or "tab char") as delimiter.
# Format:
#	NORAD ID of satellite		 : unique integer 
#	Standard Magnitude		 : float (magnitudes) or empty
#	Radar Cross-Section		 : float (square meters) or empty
#