#
# Standard magnitude and Radar Cross-Section for artificial satellites
#
# Standard magnitudes and Radar Cross-Section data was obtained from:
#	a) Mike McCants web page 	 : https://mmccants.org
#	b) MMT-9 observatory 		 : http://mmt.favor2.info/satellites
#	c) CelesTrack wep page 		 : https://celestrak.org/satcat/search.php
#
# One rule per line. Each rule contains seven elements with white space (or "tab char") as delimiter.
# Format:
#	NORAD ID of satellite		 : unique integer 
#	Standard Magnitude		 : float (magnitudes) or empty
#	Radar Cross-Section		 : float (square meters) or empty
#