#
# Origins of nomenclature names for Solar system bodies
#
# The data was obtained from the web page https://planetarynames.wr.usgs.gov
#
# One rule per line. Each rule contains seven elements with white space (or "tab char") as delimiter.
# Format:
#	ID of planetary feature			 : unique integer (equals to Feature ID obtained from https://planetarynames.wr.usgs.gov)
#	translatable origin of feature name	 : string
#